#viewer {
    position:absolute;
    top : 0px; 
    left: 0px;
    bottom : 0px;
    right : 0px;
    margin : 0px;
    padding:0px;
    overflow:hidden;
  }

ion-content {
    --overflow: hidden;
}
#noI{
    position: absolute;
    top: 40%;
    left: 30%;
    width: 40%;
    
    visibility: hidden;
    text-align: center;
    color: #7452e4;

}
#noS{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 30%;
    width: 40%;
    
    visibility: hidden;
    color: #7452e4;

}
#loading{
    animation: rotation 2s infinite linear;
    position: absolute;
    visibility: hidden;
    width: 10vw;
    height: 10vw;
    left: 45vw;
    top: 40vh;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
#searchText{
  position: absolute;
  width:50vw;
  top:1vh;
  text-align: left;
  left: 1vw;
}
#options{
  position: absolute;
  width:23vw;
  right:1vw;
  top:1vh;
  height:100%;
  align-content: left;
  align-items: left;
  justify-content: left;
  text-align: center;
}
#navigate{
  position: absolute;
  width:23vw;
  right:1vw;
  bottom:-2vh;
  align-content: left;
  align-items: left;
  justify-content: left;
  text-align: center;
}
#next{
  width:2vw;
  margin: 1vw;
}
#prev{
  width:2vw;
  margin: 1vw;
}
#counter{
  font-size: 2vw;
  width: 6vw;
  text-align: center;
}

#info{
  color: black;
  align-content: center;
  text-align: left;
  position: absolute;
  bottom: 1vh;
  left: 3vw;
  width:30vw;
  pointer-events: none;
}
.parent-row {
  align-items: left !important;
  justify-content: left !important;
}
#navigate-row{
  top: 5vh;
  //bottom: 5vh;
}
#favorite{
  position: absolute;
  top:2vh;
  text-align: left;
  left: 51vw;
}

.loading{
  animation: rotation 2s infinite linear;
  position: absolute;
  width: 10vw;
  height: 10vw;
  left: 45vw;
  top: 40vh;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}